@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.categories {
	h1 {
		padding-left: 21px;
	}

	&__container {
		background-color: $primary-btn-background-color;
		padding: 2rem;

		@include mobile() {
			padding: 0;
		}
	}

	&__accordion-heading {
		button,
		i {
			&:hover {
				h5,
				i {
					color: $primary-btn-color;
				}
			}
		}
	}
}
