$primary-btn-color: #716aca;
$secondary-btn-color: #3699ff;

$primary-btn-background-color: rgba(113, 106, 202, 0.1);
$secondary-btn-background-color: #e1f0ff;

$primary-background-color: #f2f3f8;

$primary-text-color: #434349;
$secondary-text-color: #6c7293;
